$bg_color: rgba(170, 75, 100, 0.63);
$btn_color: rgba(197, 34, 96, 0.62);
$card_color: rgba(255, 255, 255, 0.62);

$card_title: #704666;
$card_desc: #3c2a40;
$btn_text:     #e9f1f8;

$radius-lg: 18px;
$radius-md: 12px;


// Миксин для кнопки
@mixin button($bg) {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 12px 16px;

  background: $bg;
  color: $btn_text;

  border: 0;
  border-radius: $radius-md;
  cursor: pointer;
  font-weight: 600;

  transition: transform 140ms ease, filter 140ms ease;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

.page {
  min-height: 100vh;
  padding: 28px 16px;

  background:
          radial-gradient(900px 500px at 20% 10%, rgba(255, 255, 255, 0.28), transparent 60%),
          radial-gradient(700px 420px at 80% 20%, rgba(255, 255, 255, 0.18), transparent 55%),
          $bg_color;

  display: grid;
  place-items: center;

    .product-card {
      margin: 10px;
      padding: 16px;
      background: $card_color;
      max-width: 350px;
      width: 100%;
      justify-content: center;
      border-radius: 16px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;


      img {
        margin-top: 20px;
        width: 80%;
        object-fit: cover;
        border-radius: $radius-md;
        display: block;
      }

      .product-card__content {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 30px;

        h2 {
          font-size: 20px;
          color: $card_title;
        }

        p {
          font-size: 15px;
          color: $card_desc;
        }

        button {
          margin-top: 6px;
          @include button($btn_color);

          &:hover {
            filter: brightness(1.06);
            transform: translateY(-1px);
          }

          &:active {
            transform: translateY(0px);
            filter: brightness(0.98);
          }

        }
      }

    }
  }
